# Virtual environment
venv/*

# Python bytecode files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# IDE and editor specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
