name: Lint Dockerfile

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Lint Dockerfile with Hadolin
        uses: hadolint/hadolint-action@v1.5.0 
        with:
          dockerfile: Dockerfile
