name: Python SAST (Bandit)

on:
  push:
    branches: [ main, feature/cicd_setup ]
  pull_request:
    branches: [ main ]

jobs:
  bandit-sast:
    name: Analyse de sécurité avec Bandit
    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Bandit
        run: |
          python -m pip install --upgrade pip
          pip install bandit

      - name: Run Bandit (via config file)
        run: |
          bandit -r . --configfile .bandit
